.keyboard-wrapper {
  background-color: #000000;
  color: #ffffff;
  display: grid;
  height: 290px;
  padding: 10px;
  grid-template-areas:
          "key001 key002 key002 key003 key003 key004 key004  key005 key005 key006 key006 key007 key007 key008 key008 key009 key009  key010 key010 key011 key011 key012 key012 key013 key013 key014 key014  key015 key015 key016 key016"
"key117 key117 key118 key118 key119 key119 key120  key120 key121 key121 key122 key122 key123 key123 key124 key124 key125 key125  key126 key126 key127 key127 key128 key128 key129 key129 key130 key130 key130 key131 key132"
  "key233 key233 key233 key234 key234   key235 key235  key236 key236 key237   key237 key238 key238 key239 key239   key240 key240  key241 key241 key242   key242 key243 key243 key244 key244   key245 key245 b b   key246 key246 "
          "key347 key347 key348 key348 key349   key349 key350 key350 key351  key351   key352 key352 key353 key353 key354   key354 key355 key355 key356  key356   key357 key357 key358 key358 key359 key359 key359 key359 key359 key360 key360"
  "key461 key461 key462 key462 key463   key463 key464 key464 key464 key464   key464 key464 key464 key464 key464   key464 key464 key464 key465 key465    key466 key467 key467 key468 key468   key469 key469 key470 key470 key471 key471"
;

  grid-template-rows: 50px 50px 50px 50px 50px;
  grid-template-columns: 50px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 35px 35px;
  grid-gap: 5px;
  text-align: center;
line-height: 50px;
  .key{
    background-color: #3b3b3b;
border-radius: 5px;
  }
  .key1 {
    grid-area: key001;
  }
  .key2 {
    grid-area: key002;
  }
  .key3 {
    grid-area: key003;
  }
  .key4 {
    grid-area: key004;
  }
  .key5 {
    grid-area: key005;
  }
  .key6 {
    grid-area: key006;
  }
  .key7 {
    grid-area: key007;
  }
  .key8 {
    grid-area: key008;
  }
  .key9 {
    grid-area: key009;
  }
  .key10 {
    grid-area: key010;
  }
  .key11 {
    grid-area: key011;
  }
  .key12 {
    grid-area: key012;
  }
  .key13 {
    grid-area: key013;
  }
  .key14 {
    grid-area: key014;
  }
  .key15 {
    grid-area: key015;
  }
  .key16 {
    grid-area: key016;
  }

  .key17 {
    grid-area: key117;
  }
  .key18 {
    grid-area: key118;
  }
  .key19 {
    grid-area: key119;
  }
  .key20 {
    grid-area: key120;
  }
  .key21 {
    grid-area: key121;
  }
  .key22 {
    grid-area: key122;
  }
  .key23 {
    grid-area: key123;
  }
  .key24 {
    grid-area: key124;
  }
  .key25 {
    grid-area: key125;
  }
  .key26 {
    grid-area: key126;
  }
  .key27 {
    grid-area: key127;
  }
  .key28 {
    grid-area: key128;
  }
  .key29 {
    grid-area: key129;
  }
  .key30 {
    grid-area: key130;
  }
  .key31 {
    grid-area: key131;
  }
  .key32 {
    grid-area: key132;
  }


  .key33 {
    grid-area: key233;
  }
  .key34 {
    grid-area: key234;
  }
  .key35 {
    grid-area: key235;
  }
  .key36 {
    grid-area: key236;
  }
  .key37 {
    grid-area: key237;
  }
  .key38 {
    grid-area: key238;
  }
  .key39 {
    grid-area: key239;
  }
  .key40 {
    grid-area: key240;
  }
  .key41 {
    grid-area: key241;
  }
  .key42 {
    grid-area: key242;
  }
  .key43 {
    grid-area: key243;
  }
  .key44 {
    grid-area: key244;
  }
  .key45 {
    grid-area: key245;
  }
  .key46 {
    grid-area: key246;
  }


  .key47 {
    grid-area: key347;
  }
  .key48 {
    grid-area: key348;
  }
  .key49 {
    grid-area: key349;
  }
  .key50 {
    grid-area: key350;
  }
  .key51 {
    grid-area: key351;
  }
  .key52 {
    grid-area: key352;
  }
  .key53 {
    grid-area: key353;
  }
  .key54 {
    grid-area: key354;
  }
  .key55 {
    grid-area: key355;
  }
  .key56 {
    grid-area: key356;
  }
  .key57 {
    grid-area: key357;
  }
  .key58 {
    grid-area: key358;
  }
  .key59 {
    grid-area: key359;
  }
  .key60 {
    grid-area: key360;
  }

  .key61 {
    grid-area: key461;
  }
  .key62 {
    grid-area: key462;
  }
  .key63 {
    grid-area: key463;
  }
  .key64 {
    grid-area: key464;
  }
  .key65 {
    grid-area: key465;
  }
  .key66 {
    grid-area: key466;
  }
  .key67 {
    grid-area: key467;
  }
  .key68 {
    grid-area: key468;
  }
  .key69 {
    grid-area: key469;
  }.key70 {
    grid-area: key470;
  }
  .key71 {
    grid-area: key471;
  }
}